body {
    background-color: darksalmon;
    background-image: url("../images/nen.jpg");
    background-size: cover;
}
#container{
    margin: 10 auto;
}
header {
    width: 700px;
    /*height: 500px;*/
    background-color: blue;
    border: 1px black dashed;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    font-size: 24px;
}
#head{
	opacity: .5;
}
main {
    width: 700px;
    /*height: 100px;*/
    border: 1px black dotted;
    margin: 0;
    font-family: "rubik";
    color: darkgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
}
 main h1 {
    font-size: 50px;
    font-family: cursive;
    color: darkgray;
    text-align: center;
}

footer {
    width: 700px;
    /* height: 100px;*/
    border: 1px black dotted;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "rubik"
        color: darkgreen;
    background-color: floralwhite;
}

 header h1 {
    font-size: 100px;
    font-family: cursive;
    color: darkgray;
    text-align: center;
}

li {
    border: solid #00ffeb 2px;
}
footer p
    {
    font-size: 50px;
    font-family: "Arial", sans-serif;
    color: darkblue;
    text-align: center;
}

#logo img {
    border-radius: 50%;
}

a {
    font-size: 36;
    font-family: "arial";
    color: darkblue;
    text-align: center;
}

#hello-image img {
    width: 500px;
    border-radius: 20px;
    text-align: 0 center;
}

#hello-image #cup {
    width: 700px;
    border-radius: 20px;
    opacity: .25;
}
	
#para {
	text-align: center;
	background-color: red;
	width:500px;
}
ul {
	list-style-type: none;
}
li {
    border-radius: 5px;
    padding: 10px;
    display:inline;
    margin-right: 20px;
}
a:link {
    color: pink;
    text-decoration: none;

}

a:visited {
    color: fuchsia;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: yellow;
}


li {
    font-size: 36px;
    font-family: "Arial", sans-serif;
    color: darkblue;
}